body {
    background-color: Snow;
}

.searchRow {
    display: flex;
    margin-bottom:30px;
    margin-top:30px;
}

.form-group {
    flex: 1 1 auto;
    margin-right: 10px;
}

.dropdown{
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 15px;
}

h2{
    margin-top:60px;
}

.todoCardOverlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: background 0.5s ease;
}

.todoCard:hover .todoCardOverlay{
    visibility: visible;
}

.toDelete {
    margin-right:10px;
}

.toDone {
    margin-right:10px;
}

.statusColor {
    height: 100%;
    position: absolute;
}

.doneGreen {
    border-left: 6px solid green;
}

.notDoneYellow {
    border-left: 6px solid yellow;
}

.notDoneRed {
    border-left: 6px solid red;
}

.mainViewLabels {
    margin-bottom: 0px;
}

.cardBodyMainRow {
    display: flex;
    justify-content: space-between;
}

.cardBodyEditViewMainRow {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.cardBodyEditViewBottomRow {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.cardBodyEditViewDescriptionArea {
    margin-bottom: 10px;
}

.descriptionInEditView {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: -moz-available;
}

.titleInEditView {
    margin-right:10px;
}

.created {
    margin:10px;
}

.modified {
    margin:10px;
}

.labels {
    margin-right: 10px;
}

.todoCardOverlay {
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #4d4d4d;
    color:Snow;
    transition: all 0.3s;
}

.options {
    background-color: #737373;
    padding-left: 20px;
    padding-top:20px;
    padding-bottom:20px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul li a {
    display: block;
    padding:10px;
}

#sidebar ul li a:hover {
    background:Snow;
    color: #737373;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #4d4d4d;
    color: Snow;
    text-decoration: none;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.userInfo {
    height: 200px;
    margin: 20px;
    padding: 20px;
}

.usersPicture {
    height: 100px;
    background-color: #f2f2f2;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.invisible {
    display: none !important;
}

.closeButtonArea {
    display:flex;
    justify-content:flex-end;
}

.closeExpandedAndSaveData {
    margin-right:20px;
    margin-bottom:10px;
}