body {
    background-color: Snow;
}

.searchRow {
    display: flex;
    margin-bottom:30px;
    margin-top:30px;
}

.form-group {
    flex: 1 1 auto;
    margin-right: 10px;
}

.dropdown{
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 15px;
}

.addNew {
    flex: 0 0 auto;
}

h2{
    margin-top:60px;
}

.descriptionArea{
    display:flex;
}

.description{
   flex: 1 1 auto;
}

tr {
    position: relative;
}

.todoRowOverlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: background 0.5s ease;
}

tr:hover .todoRowOverlay {
  visibility: visible;
}

.toDelete {
    float: right;
}

.toDone {
    float: right;
    margin-right:10px;
}

.edit {
    float:right;
    margin-right:10px;
}







